name: dating-backend-prod

services:
  application:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file:
      - .production.env
    environment:
      DATABASE_URL: postgresql://postgres:192837465@postgres:5432/dating
    ports:
      - "5001:5001"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 192837465
      POSTGRES_DB: dating
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

volumes:
  pgdata: